:markdown
  # Process

  We create engaging products by identifying pressing problems and developing
  simple solutions.

  Our process allows us to learn quickly and iterate rapidly. It has four
  pillars: [define], [design], [develop], [deploy].

  [define]: #define
  [design]: #design
  [develop]: #develop
  [deploy]: #deploy

#define
  :markdown
    ## Define

    Develop empathy for the market and discover the problems and stories
    that shape it.

    - Mine insights and likely adopters from the wealth of data on the web.
    - Get out of the office to talk with and observe potential adopters in
    their typical environment.

#design
  :markdown
    ## Design

    Determine what problems to solve and what the solution looks like.

    - Come up with potential solutions using brainstorming and mindmapping.
    - Flesh out ideas with high-level sketches in pen and paper.
    - Quickly test layouts and functionality with clickable HTML wireframes.
    - Make it beautiful with a visual design pass.

#develop
  :markdown
    ## Develop

    Build the product with clean, tested code that serves as a solid
    foundation for the future.

    - Get insanely far with minimal effort by leveraging the latest technology:
    HTML5, jQuery, MongoDB, Node.js, and Ruby on Rails.
    - Use [agile development] to ensure that no work is wasted and everyone
    stays on the same page.

    [agile development]: http://en.wikipedia.org/wiki/Agile_development

#deploy
  :markdown
    ## Deploy

    Quickly get the product in front of as many people as possible to learn
    from feedback.

    - Initially deploy to services that you never have to worry about
    maintaining or upgrading.
    - Scale your technology when success requires.
