blue = #069

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  box-shadow arguments

transition()
  -webkit-transition arguments
  -moz-transition arguments
  transition arguments

aside, section, footer
  display block

body, input, textarea, h1, h2, h3
  font-family georgia, serif
  font-weight 300
  color #222

body
  margin 0
  padding 0
  font-size large
  font-weight 300
  text-align center
  overflow-y scroll
  background #dddde0 url(/images/noise.png) repeat

input[type=submit], button, a.button
  color #fff
  text-shadow hsla(0, 0%, 0%, 0.8) 0 -1px 0
  background-color blue
  background blue -webkit-linear-gradient(-90deg, hsla(0, 0%, 100%, 0.5), hsla(0, 0%, 100%, 0.1) 50%)
  background blue -moz-linear-gradient(-90deg, hsla(0, 0%, 100%, 0.5), hsla(0, 0%, 100%, 0.1) 50%)
  padding 5px 20px
  border solid 1px hsla(0, 0%, 0%, 0.2)
  border-radius 2px
  box-shadow inset 0px 0px 5px hsla(0, 0%, 0%, 0.3)
  transition background-color 200ms linear
  &:hover
    text-decoration none
    background-color hsl(200, 100%, 40%)
  &:active
    box-shadow inset 0px 1px 8px hsla(0, 0%, 0%, 0.5)
    color #eee

a
  color blue
  text-decoration none
  &:hover
    text-decoration underline

a img
  border none

#page
  text-align left
  margin 2em auto
  width 900px

aside
  float left
  width 180px
  text-align center
  padding 20px 40px
  text-shadow hsla(0, 0%, 100%, 0.8) 0px 1px 0px
  &, a
    color #333
    transition color 100ms linear
  &:hover a
    color blue
  h1
    font-family "IM Fell Great Primer", serif
    margin-top 0
    img
      width 160px
      height 160px
  ul
    list-style-type none
    padding-left 0
    li
      margin 0.5em 0
  #team
    margin-top 2em
    text-align left
    li
      clear left
      .avatar
        float left
        margin 0 10px 1em 0
        //border solid 1px hsla(0, 0%, 0%, 0.3)
        box-shadow 0 0 3px hsla(0, 0%, 0%, 0.2)
        padding 3px
        background-color white
        border-radius 2px
        width 70px
        height 70px
      .name
        line-height 100%
        .last
          font-size medium
      .icons
        margin-top 0.25em
        img
          margin-right 5px

#contents
  margin-left 260px
  background-color #fff
  background-color hsla(0, 0%, 100%, 0.9)
  padding 40px
  box-shadow 0 0 3px hsla(0, 0%, 0%, 0.2)
  border-radius 2px
  p, li
    line-height 150%

footer
  text-align center
  font-size small
  margin-top 3em

body.index
  #contents
    text-align center
  .action
    margin 1.25em 0 1.5em
  h3
    margin 2em auto 1em
    padding-bottom 0.5em
    border-bottom solid 1px hsla(0, 0%, 0%, 0.1)
    width 25%
  img
    vertical-align center
  #clients
    img
      width 240px
      opacity 0.5
      &:hover
        opacity 1
    a:hover
      img
        &.gray
          display none
        &.color
          display inline-block
  #portfolio
    img
      border solid 1px hsla(0, 0%, 0%, 0.2)
      border-radius 2px
      margin 2px
  #tech
    img
      height 35px
      padding 5px
